.container{
  display: flex;
  flex-direction: column;
  max-width: 400px;
  background-color: rgb(250, 250, 250);
  box-shadow: 5px 5px 10px  rgba(106, 255, 140, 0.5);
  border: none;
  border-radius: 10px;
  padding: 20px;
  margin: 5px;
  font-size: 24px;
}
h3{
  text-align: center;
  margin: 0px 0 10px 0;
}
input{
}
.form{
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: space-around;
  gap: 5px;
  padding: 0 20px;
}
.form input, .form select{
  padding: 5px;
  border: none;
  border-bottom: 1px solid rgb(106, 255, 140);
  outline: none;
}
.createButton{
  display: flex;
  justify-content: end;
  align-items: center;
}
.form button{
  margin: 10px 0 0 0;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  background-color: rgb(106, 255, 140);
  font-size: 24px;
}