.cartContainer{
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 800px;
  margin: 20px auto;
  padding: 30px 30px;
  box-shadow: 2px 2px 4px 2px #e0dfdf;
  border-radius: 10px;
}