.header {
  display: flex;
  flex-direction: row;
  /* background-color: rgb(69, 129, 69); */
  align-items: center;
  justify-content: space-between;
  color: white;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px
}
.tabs {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  flex: 1;
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;
}
a{
  text-decoration: none;
  text-transform: uppercase;
}
.tabs li {
  padding: 0 20px;
}
.tabs li:hover {
  background-color: rgb(0, 100, 0)
}
.tabs a{
  color: black;
  font-size: 24px;
  font-weight: bold;
}
.logo {
  color: rgb(9, 9, 179);
  font-size: 30px;
  font-weight: bold;
  margin: 5px 20px;
  text-decoration: none;
  cursor: pointer;
}
.cartCount {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: oklch(44.4% 0.22809 272.179);
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: white;
  font-size: 25px;
  font-weight: bold;
}

